# OS / IDE junk
.vscode/
.idea/
*.log
*.tmp

# Maven
/target/
.mvn/wrapper/maven-wrapper.jar

# Environment files
.env

# Node / other junk (just in case)
node_modules/

# Windows junk
Thumbs.db
Desktop.ini
